body,
p,
h1,
h3 {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans Regular';
}
a {
	text-decoration: none;
	outline: none;
	font-family: 'Open Sans Regular';
}
/*a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important;
}*/
input {
    border-radius: 0;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
}
input:invalid{
    box-shadow:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
input,
ul,
li,
button,
textarea {
	outline: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0px solid black;
}
label {
	cursor: pointer;
}
.header_contacts_wrap {
	background-color: #F6F7F8;
}
.header_contacts {
	display: flex;
}
.container {
	max-width: 1456px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;
}
.header_contacts span {
	font-size: 16px;
	line-height: 26px;
	color: #7E7F74;	
}
.header_contacts_left {
	display: flex;
	padding: 20px 0 16px 0;
	box-sizing: border-box;
}
.header_contacts_left_pin {
	margin-right: 14px;
}
.header_contacts_right {
	margin-left: auto;
}
.header_contacts_right_social ul {
	display: flex;
}
.header_contacts_right_social i {
	font-size: 20px;
	color: #C8C8C8;
}
.header_contacts_right_social i:hover {
	color: #1A1A18;
}
.header_contacts_right_social li {
	padding: 24px 26px;
	width: 70px;
	height: 70px;
	box-sizing: border-box;
	border-right: 1px solid #dbdbdb80;
}
.header_contacts_right_social li:first-child {
	width: auto;
	padding-right: 48px;
	padding-top: 21px;
}
.nav a {
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.02em;
	color: #1A1A18;
}
.nav ul {
	display: flex;
}
.nav li {
	margin-right: 46px;
}
.header_nav_left {
	display: flex;
}
.logo {
	margin-top: 28px;
	margin-bottom: 24px;
}
.nav {
	margin-left: 61px;
	margin-top: 51px;
}
.header_nav {
	display: flex;
}
.header_nav_right {
	margin-left: auto;
	display: flex;
	margin-top: 39px;
}
.header_nav_phone {
	display: flex;
}
.header_nav_phone_number {
	font-family: 'Open Sans Bold';
	font-size: 24px;
	line-height: 26px;
	letter-spacing: 0.03em;
	color: #1A1A18;
	margin-left: 12px;
}
.header_nav_phone_call {
	font-size: 16px;
	line-height: 26px;
	text-decoration-line: underline;
	color: #7E7F74;
	text-align: right;
	cursor: pointer;
}
.header_nav_search form {
	display: flex;
}
.header_nav_search input {
	width: 100px;
}
.header_nav_search input {
	font-size: 16px;
	line-height: 26px;
	text-align: right;
	color: #C8C8C8;
}
.header_nav_search input::-moz-placeholder {
	font-size: 16px;
	line-height: 26px;
	text-align: right;
	color: #C8C8C8;
}
.header_nav_search input::-webkit-input-placeholder {
	font-size: 16px;
	line-height: 26px;
	text-align: right;
	color: #C8C8C8;
}
.header_nav_search_img {
	margin-right: 40px;
	cursor: pointer;
}
.header_nav_search_search {
	margin-right: 22px;
}
.header_nav_phone_img {
	margin-top: 10px;
}
.header_nav_search {
	margin-top: 11px;
}
.main_slider_background {
	background: radial-gradient(100.85% 889.43% at 99.53% 99.07%, #004D94 1.64%, rgba(0, 0, 0, 0.78) 100%);
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}
.main_slider_background_img1 {
	height: 540px;
	width: 100%;
	background: url(./img/main/banner1.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.main_slider_slick_wrap {
	height: 540px;
}
.main_slider_slick_wrap {
	overflow: hidden;
}
.main_slider_img1 {
	position: absolute;
	left: 7px;
	bottom: -6px;
	z-index: 2;
}
.main_slider_img2 {
	position: absolute;
	right: 4px;
	z-index: 2;
}
.main_slider_img3 {
	position: absolute;
	left: 55px;
	bottom: 270px;
	width: 140px;
	height: 140px;
	border-radius: 500px;
	opacity: 0.8;
	box-shadow: 0px 0px 0px 94px #E30235;
	z-index: 2;
}
.main_slider_img4 {
	position: absolute;
	right: -18px;
	bottom: -12px;
	width: 70px;
	height: 70px;
	border-radius: 500px;
	opacity: 0.8;
	box-shadow: 0px 0px 0px 49px #E30235;
	z-index: 2;
}
.main_slider_content {
	z-index: 3;
	position: relative;
}
.main_slider_caption {
	padding-top: 10px;
	box-sizing: border-box;
	overflow: hidden;
	height: 224px;
	display: flex;
	flex-direction: column;
}
.main_slider_caption h1 {
	font-family: 'Open Sans Bold';
	max-width: 1009px;
	font-size: 38px;
	line-height: 54px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	margin-top: auto;
	margin-bottom: auto;
}
.main_slider_text {
	max-width: 576px;
	height: 166px;
	font-size: 18px;
	line-height: 27px;
	color: #FFFFFF;	
}
.button {
	font-family: 'Open Sans Bold';
	font-size: 16px;
	color: white;
	box-sizing: border-box;
	background: linear-gradient(100.91deg, #E40134 4.66%, #FF1B5F 96.99%);
	padding: 20px 0px 20px 34px;
	border-radius: 200px;
	cursor: pointer;
	display: flex;
}
.main_slider_button {
	width: 245px;
	margin-top: 10px;
}
.button img {
	margin-left: 5px;
	position: relative;
	top: 2px;
}
.slick-dots {
	position: absolute;
	right: 6%;
	top: 39%;
}
.slick-dots button {
	color: transparent;
	background-color: white;
	opacity: 0.5;
	width: 7px;
	height: 7px;
	border-radius: 50px;
	margin-bottom: 22px;
	cursor: pointer;
}
.slick-active button {
	background-color: #E30235;
	width: 9px;
	height: 9px;
	box-shadow: 0 0 0 2px white;
	opacity: 1;
}
.main_slider {
	position: relative;
}
.main_slider_arrow {
	position: absolute;
	display: flex;
	bottom: 15%;
	right: 6%;
	z-index: 2;
}
.main_slider_arrow_prev {
	margin-right: 78px;
	cursor: pointer;
}
.main_slider_arrow_next {
	cursor: pointer;
}
.caption h1 {
	font-family: 'Open Sans Bold';
	font-size: 38px;
	line-height: 46px;
	color: #1A1A18;
}
.flex_column {
	display: flex;
	margin-top: 42px;
}
.main_catalog_block:last-child {
	margin-right: 0;
}
.flex_c {
	flex: 1;
}
.catalog_block1 {
	background: url(./img/main/catalog1.jpg) no-repeat;
	background-size: cover;
}
.catalog_block2 {
	background: url(./img/main/catalog2.jpg) no-repeat;
	background-size: cover;
}
.catalog_block3 {
	background: url(./img/main/catalog3.jpg) no-repeat;
	background-size: cover;
}
.main_catalog_wrap {
	margin-top: 92px;
}
.main_catalog_block {
	margin-right: 30px;
	height: 450px;
	display: flex;
	box-sizing: border-box;
}
.main_catalog_block_content {
	color: white;
	text-align: center;
	margin: auto;
	/*height: 225px;*/
}
.block_content_caption {
	font-size: 30px;
	line-height: 46px;
	width: 353px;
	min-height: 100px;
}
.block_content_caption p {
	text-align: center;
}
.block_content_group {
	font-size: 18px;
	line-height: 27px;
	opacity: 0.7;
	display: flex;
	justify-content: center;
	min-height: 90px
}
.block_content_color {
	font-size: 22px;
	line-height: 35px;
}
.block_content_button {
	width: 241px;
	margin: 0 auto;
	display: none;
}
/*.main_catalog_block:hover .main_catalog_block_content {
	height: 343px;
}*/
.main_catalog_block:hover .block_content_color {
	min-height: 91px;
}
.main_catalog_block:hover .block_content_button {
	display: flex;
}

.universal_wrap {
	margin-top: 92px;
}
.universal {
	display: flex;
}
.universal_block {
	margin-right: 30px;
}
.universal_block:last-child {
	margin-right: 0;
}
.text {
	margin-top: 43px;
	font-size: 22px;
	line-height: 35px;
	color: #4F4F4F;
}
.universal_block_caption_text p {
	margin-top: 10px;
	
}
.article {
	padding: 30px;
	box-sizing: border-box;
	border: 2px solid #F0F1F4;
	height: 592px;
	width: 330px;
	position: relative;
	background-color: white;
}
.article_img {
	height: 270px;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.article_img img {
	width: 100%;
	height: auto;
	margin-top: auto;
	margin-bottom: auto;
}
.article_caption {
	height: 108px;
	display: flex;
	overflow: hidden;
}
.article_caption h1 {
	font-family: 'Open Sans Regular';
	font-size: 22px;
	line-height: 35px;
	color: #1A1A18;	
	margin: auto 0;
}
.article_description {
	overflow: hidden;
	height: 120px;
}
.article_description p {
	font-size: 18px;
	line-height: 24px;
	color: #4F4F4F;	
}
.article_cost {
	font-family: 'Open Sans Bold';
	font-size: 22px;
	line-height: 40px;
	color: #1A1A18;	
}
.article_button {
	width: 132px;
	height: 54px;
	padding-top: 15px;
	padding-left: 29px;
	margin-top: -2px;
}
.article:hover {
	box-shadow: -2px 8px 20px rgba(0, 0, 0, 0.1);
	border-bottom: none;
}
.article_button_wrap {
	display: none;
	width: 100%;
	box-sizing: border-box;
	padding: 0 0 30px 30px;
	height: 79px;
	position: absolute;
	left: 0;
	bottom: -78px;
	background-color: white;
	box-shadow: -2px 20px 20px rgba(0, 0, 0, 0.1);
	z-index: 1;
}
.article_vector {
	display: none;
	position: absolute;
	bottom: -34px;
	right: 20px;
	z-index: 1;
	opacity: 0.5;
}
.article:hover .article_vector {
	display: block;
}
.article:hover .article_button_wrap {
	display: block;
}
.service_wrap {
	margin-top: 170px;
	margin-bottom: 86px;
}
.service_show {
	margin-top: 12px;
	font-size: 22px;
	line-height: 27px;
	text-decoration-line: underline;
	color: #1A1A18;
	cursor: pointer;
}
.service_show i {
	color:#E30235;
	font-size: 24px;
	position: relative;
	top: 2px;
	left: 2px;
}

.calculator {
	width: 100%;
	height: 818px;
	box-sizing: border-box;
	border: 10px solid  #F0F1F4;
	display: flex;
}
.calculator_block {
	flex: 5;
	box-sizing: border-box;
	padding: 43px;
	background-color: #F6F7F8;
	position: relative;
	overflow: hidden;
	z-index: 3;
}
.calculator_img {
	flex: 4.7;
	width: 100%;
	height: 100%;
	background: url(./img/main/calculator.jpg) no-repeat;
	background-size: cover;
	display: flex;
}
.calculator_block .text {
	margin-top: 21px;
}
.calculator_block .text p {
	margin-bottom: 20px;
}
.calculator_slider {
	width: 100%;
	position: relative;
	margin-top: 83px;
}

.ui-widget.ui-widget-content {
	border: none;
}
.ui-slider-horizontal .ui-slider-range {
	height: 4px;
    background-color: #E30235;
}
.ui-slider-horizontal {
	height: 2px;
	background-color: #E8E8E8;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default, 
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
	height: 15px;
	width: 15px;
	border-radius: 90px;
	box-sizing: border-box;
	background: white;
	outline: none;
	box-shadow: 0px 0px 0px 10px #E30235;
	cursor: pointer;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 0px solid black;
	background: white;
	outline: none;
	box-shadow: 0px 0px 0px 10px #E30235;
	font-weight: normal;
	color: #ffffff;
	cursor: pointer;
}
.calculator_slider_content_wrap {
	font-family: 'Open Sans Bold';
	font-size: 22px;
	line-height: 46px;
	color: #1A1A18;
	text-transform: uppercase;
	position: absolute;
	top: -77px;
	left: 0;
}
.calculator_slider_content_wrap span:first-child {
	position: relative;
	top: -7px;
}
input.calculator_slider_content {
	font-size: 40px;
	margin-left: 14px;
	font-family: 'Open Sans Bold';
	background-color: transparent;
	color: #1A1A18;
}
input.calculator_slider_content::-moz-placeholder {
	color: #1A1A18;
}
input.calculator_slider_content::-webkit-input-placeholder {
	color: #1A1A18;
}
.calculator_options {
	display: flex;
	font-size: 22px;
	line-height: 35px;
	color: #4F4F4F;
	height: 66px;
	box-sizing: border-box;
	margin-bottom: 32px;
}
.calculator_options span,
.calculator_options p {
	max-width: 320px;
	margin-top: auto;
	margin-bottom: auto;
}
.calculator_options p {
	margin-left: 20px;
	font-family: 'Open Sans Bold';
	font-size: 22px;
	line-height: 46px;
	color: #1A1A18;
	width: 41.5px;
	box-sizing: border-box;
	text-align: left;
}
.calculator_options input {
	margin-left: auto;
	width: 200px;
	height: 60px;
	background: #FFFFFF;
	border: 2px solid #F0F1F4;
	box-sizing: border-box;
	border-radius: 200px;
	padding-left: 26px;
	font-size: 22px;
	line-height: 32px;
	color: #333333;
}
.select input[type='text']::-moz-placeholder,
.calculator_options input::-moz-placeholder {
	font-family: 'Open Sans Regular';
	font-size: 22px;
	line-height: 32px;
	color: #C8C8C8;
}
.select input[type='text']::-webkit-input-placeholder,
.calculator_options input::-webkit-input-placeholder {
	font-family: 'Open Sans Regular';
	font-size: 22px;
	line-height: 32px;
	color: #C8C8C8;
}
.calculator_options input:active,
.calculator_options input:focus,
.calculator_options input:hover {
	box-shadow: -2px 8px 20px rgba(0, 0, 0, 0.1);
}
.calculator_options_wrap {
	margin-top: 56px;
}

.fa-question-circle {
	color: #E30235;
	background-color: white;
	margin-left: 10px;
	cursor: pointer;
	font-size: 26px;
	position: relative;
	top: 2px;
}
.calculator_button_wrap {
	display: flex;
	margin-top: 42px;
}
.calculator_parametr {
	width: 200px;
	font-size: 16px;
	line-height: 24px;
	color: #4F4F4F;
}
.calculator_reset {
	margin-left: auto;
	margin-right: -44px;
	margin-top: 13px;
}
.calculator_reset input {
	font-family: 'Open Sans Bold';
	font-size: 16px;
	line-height: 26px;
	text-decoration-line: underline;
	color: #1A1A18;
	background-color: transparent;
	cursor: pointer;
}
.calculator_button input {
	text-align: center;
	padding: 0;
	padding-left: 52px;
	width: 200px;
	height: 54px;
	text-align: center;
}
.calculator_button {
	margin-left: auto;
	margin-right: 61.5px;
}
.calculator_block .main_slider_img4 {
	right: -33px;
	top: 142px;
	opacity: 1;
}

.calculator_block .main_slider_img3 {
	box-shadow: 0px 0px 0px 94px #F0F1F4;
	z-index: -1;
	left: 50px;
	bottom: 115px;
}
.results_counting_wrap {
	background-color: white;
	width: 546px;
	height: 226px;
	overflow: hidden;
	margin: auto;
	margin-bottom: 39px;
}
.results_counting {
	padding-left: 48px;
	padding-top: 35px;
	padding-right: 20px;
	display: flex;
}
.results_counting_quantity {
	width: 296px;
}
.results_counting_quantity div:first-child {
	font-size: 22px;
	line-height: 35px;
}
.results_counting_quantity div:nth-child(2) {
	margin-top: 18px;
	font-family: 'Open Sans Bold';
	font-size: 16px;
	line-height: 32px;	
}
.results_counting_quantity div:nth-child(3) {
	margin-top: 16px;
}
.results_counting_quantity div:nth-child(3) span:first-child {
	font-family: 'Open Sans Bold';
	font-size: 40px;
	line-height: 46px;	
}
.results_counting_quantity div:nth-child(3) span:last-child {
	font-family: 'Open Sans Bold';
	font-size: 22px;
	line-height: 46px;
	position: relative;
	left: 14px;
	bottom: 17px;
}
.results_counting_type {
	width: 247px;
	position: relative;
	margin-top: 52px;
}
.results_counting_type div:first-child {
	position: absolute;
	top: -99px;
	right: -39px;
}
.results_counting_type div:nth-child(2) {
	font-family: 'Open Sans Bold';
	font-size: 16px;
	line-height: 32px;	
}
.results_counting_type div:nth-child(3) {
	margin-top: 16px;	
	overflow: hidden;
	height: 54px;
	box-sizing: border-box;
}
.results_counting_type a {
	font-size: 18px;
	line-height: 27px;
	text-decoration-line: underline;
	color: #1A1A18;
}
.about_wrap	{
	margin-top: 104px;
}
.about {
	display: flex;
	height: 431px;
	box-sizing: border-box;
	overflow: hidden;
}
.about_button {
	width: 242px;
	margin-top: 38px;
}
.about .flex_c:last-child {
	background: url(./img/main/about.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.about_circle {
	position: absolute;
	right: -102px;
	bottom: -106px;
	opacity: 0.8;
	width: 287px;
	height: 287px;
	border-radius: 500px;
	background: #E30235;
}
.mainMap {
	width: 100%;
	height: 444px;
	margin-top: 43px;
}
.mainMap_wrap {
	margin-top: 86px;
}
.select {
	display: flex;
}
.select > div {
	flex: 1;
}
.select_form form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.select_wrap {
	margin-top: 89px;
}
.select input[type='text'] {
	font-family: 'Open Sans Regular';
	width: 306px;
	height: 60px;
	background: #FFFFFF;
	border: 2px solid #F0F1F4;
	box-sizing: border-box;
	border-radius: 200px;
	padding-left: 28px;
	font-size: 22px;
	line-height: 32px;
	color: #333333;
}
.select input:nth-child(2) {
	margin-left: 36px;
}
.select_form .button {
	width: 210px;
	margin-left: auto;
}
.select_form {
	margin-top: 35px;
	margin-left: 103px;
}
.select_form label {
	margin-top: 10px;
	margin-left: auto;
}
.select_checkbox_wrap span:last-child {
	margin-left: 32px;
	position: relative;
	bottom: 15px;
}
.select_checkbox {
	width: 26px;
	height: 24px;
	background: #FFFFFF;
	border: 2px solid #F0F1F4;
	box-sizing: border-box;
	display: flex;
	text-align: center;
}
.select_checkbox_wrap {
	width: 400px;
	display: flex;
	margin-top: 52px;
	font-size: 18px;
	line-height: 27px;
	color: #4F4F4F;	
}
.select_form input[type="button"] {
	margin-top: 40px;
	height: 60px;
	margin-left: auto;
	padding-left: 55px;
}
#select_checkbox {
	display: none;
}
.select_checkbox_wrap i{
	font-size: 14px;
	color: transparent;
	position: relative;
	left: 2px;
	top: 3px;
}
#select_checkbox:checked + label .select_checkbox_wrap i {
	color: #E30235;
}
.fooret_wrap {
	margin-top: 28px;
	background-color: #F6F7F8;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.footer_content {
	display: flex;
	border-bottom: 1px solid #b0c0d078;
	padding-bottom: 28px;
}
.footer_content_block {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin-top: 48px;
	margin-right: 40px;
}
.footer_content_block:last-child {
	margin-right: 0;
}
.footer_adress p {
	font-size: 18px;
	line-height: 27px;	
	color: #4F4F4F;
}
.footer_content_block a {
	font-size: 18px;
	line-height: 27px;
	color: #4F4F4F;	
	margin-bottom: 15px;
}
.footer_content_block a:hover {
	color: #1A1A18;
}
.footer_content_block li:first-child a {
	font-family: 'Open Sans Bold';
	font-size: 22px;
	line-height: 35px;
	color: #1A1A18;
}
.footer_content_block li:first-child {
	margin-bottom: 68px;
	position: relative;
}
.footer_phone p {
	font-family: 'Open Sans Bold';
	font-size: 24px;
	line-height: 26px;
	color: #1A1A18;
}
.footer_content_block .footer_mail a,
.footer_phone p:last-child a {
	font-size: 16px;
	line-height: 26px;
	text-decoration-line: underline;
	color: #7E7F74;	
	font-family: 'Open Sans Regular';
}
.footer_adress p,
.footer_mail p,
.footer_phone p {
	margin-left: 34px;
}
.footer_adress,
.footer_phone,
.footer_mail {
	display: flex;
	margin-bottom: 24px;
}

.footer_text {
	margin-top: 30px;
	font-size: 18px;
	line-height: 27px;
	color: #7E7F74;
}
.footer_copyright_content {
	display: flex;
}
.footer_copyright_content > div {
	flex: 1;
	display: flex;
	position: relative;
}
.development {
	display: flex;
	margin-left: 20px;
}
.social li {
	border-right: none;
	padding-top: 0;
}
.social {
	margin-left: auto;
}
.footer_copyright_content {
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
	line-height: 27px;
	color: #7E7F74;	
	margin-top: 38px;
}
.footer_copyright_content p {
	font-family: 'Proxima Nova Regular';
}
.development_img {
	margin-left: 10px;
}
.social li:first-child {
	padding-right: 30px;
	padding-top: 0;
}
.main_slider_button img {
	top: 5px;
}
.fooret_wrap .main_slider_img3 {
    box-shadow: 0px 0px 0px 94px #00000014;
    z-index: -1;
    left: 5px;
    bottom: 13px;
}
.media360_img,
.media1024_img {
	display: none;
}
.header_nav_media {
	display: none;
	position: relative;
}
.mainMap_wrap .text p:first-child {
	font-family: 'Open Sans Bold';
	color: #1A1A18;
}
.footer_content_block i {
	display: none;
}


/*Каталог*/

.bredcrumbs span {
	font-family: 'Proxima Nova Regular';
	font-size: 16px;
	line-height: 26px;
	align-items: center;
	color: #7E7F74;	
}
.bredcrumbs i {
	font-size: 16px;
	color: #7E7F74;	
	margin-left: 10px;
	margin-right: 10px;
}
.bredcrumbs {
	margin-top: 22px;
	margin-bottom: 81px;
}
.flex_column {
	display: flex;
}
.cat_wrap .main_catalog_block {
	height: 238px;
	padding-left: 24px;
	padding-top: 19px;
}
.cat_wrap .block_content_caption p {
	text-align: left;
}
.cat_wrap .main_catalog_block_content {
	margin: 0;
}
.cat_wrap .block_content_button {
	margin: 0;
	margin-top: 27px;
	width: 158px;
}
.categories_wrap h1 {
	font-size: 30px;
	line-height: 36px;
	color: #1A1A18;	
}
.categories_wrap {
	margin-top: 42px;
}
.categories_list i {
	display: none;
}
.category {
	display: flex;
	font-size: 22px;
	line-height: 35px;
	color: #4F4F4F;	
	margin-top: 17px;
}
.category_material {
	display: flex;
}
.category p {
	width: 240px;
}
.category_material a {
	font-size: 16px;
	line-height: 27px;
	color: #7E7F74;	
	padding: 5px 20px;
	background-color: #F0F1F4;
	border-radius: 20px;
	box-sizing: border-box;
}
.category_material li {
	margin-right: 10px;
}
.categories_list {
	margin-top: 29px;
}



















@media (min-width: 1500px) {
	.displayNone1440 {
		display: none;
	}
}
@media (max-width: 1500px) {
.header_contacts_right_social li:first-child {
	padding-right: 26px;
}

.container {
	max-width: 1024px;
	padding: 0 32px;
}
.header_contacts,
.header_nav_right {
	display: none;
}

.logo {
	margin-top: 20px;
	margin-bottom: 14px;
}
.nav a {
	font-size: 16px;
	line-height: 24px;
}
.media1024_img {
	display: block;
	margin-left: auto;
	margin-top: 47px;
	cursor: pointer;
}
.header_nav_left {
	width: 100%;
	margin-right: 7px;
}
.nav {
	margin-top: 44px;
	margin-left: auto;
}
.nav li {
	margin-right: 36px;
}
.main_catalog_wrap {
	margin-top: 41px;
}
.caption h1 {
	font-size: 24px;
	line-height: 35px;	
}
.flex_column {
	margin-top: 31px;
}
.main_catalog_block {
	height: 310px;
}
.block_content_caption {
	width: 260px;
	font-size: 22px;
	line-height: 35px;
	min-height: 90px;
}
.block_content_group {
	font-size: 16px;
	min-height: 60px;	
}
.main_catalog_block:hover .block_content_color {
    min-height: 56px;
}
.block_content_color {
	font-size: 18px;
}
.universal_block:first-child {
	display: none;
}
/*.universal {
	flex-wrap: wrap;
}*/
.text {
	font-size: 18px;
	line-height: 27px;
	margin-top: 15px;
}
.universal_wrap {
    margin-top: 40px;
}
.universal {
	margin-top: 20px;
}
.article {
	width: 310px;
	height: 499px;
	padding: 22px;
}
.article_caption h1 {
	font-size: 18px;
	line-height: 27px;	
}
.article_description p {
	font-size: 16px;
	line-height: 24px;	
}
.universal_block {
	margin-right: 15px;
}
.article_img {
	height: 262px;
}
.article_caption {
	height: 82px;
}
.article_description {
	height: 78px;
}
.article_cost {
	font-size: 18px;
	line-height: 40px;	
}
.article_button_wrap {
	padding-left: 22px;
}
.service_wrap {
	margin-top: 41px;
	margin-bottom: 31px;
}
.service_show {
	font-size: 18px;
}
.calculator_block {
	flex: 2;
	padding: 25px;
}
.calculator_img {
	flex: 1.3;
}
.results_counting {
	flex-direction: column;
}
.results_counting_wrap {
	width: 312px;
	height: 252px;
	margin-bottom: 22px;
}
.calculator_slider_content_wrap {
	font-size: 18px;
}
input.calculator_slider_content {
	font-size: 30px;
	margin-left: 10px;
}
.calculator_block .text p {
    margin-bottom: 16px;
}
.calculator_block .main_slider_img4 {
	transform: scale(0.6);
	top: 45px;
}
.calculator_options span,
.calculator_options p {
	font-size: 18px;
	line-height: 32px;	
	max-width: 300px;
}
.calculator_parametr {
	font-size: 14px;
	line-height: 22px;	
	width: 184px;
}
.calculator_button {
	margin-right: 0;
}
.calculator {
	height: 722px;
}
.calculator_reset {
	margin-left: 0;
}
.calculator_button input {
	width: 160px;
	padding-left: 32px;
}
.results_counting {
	padding: 22px;
}
.results_counting_quantity div:first-child {
	font-size: 18px;
}
.results_counting_quantity div:nth-child(2) {
	font-size: 14px;
	margin-top: 5px;
}
.results_counting_quantity div:nth-child(3) span:first-child {
	font-size: 30px;
}
.results_counting_quantity div:nth-child(3) span:last-child {
	font-size: 18px;
	bottom: 13px;
}
.results_counting_type div:nth-child(2) {
	font-size: 14px;
}
.results_counting_type {
	margin-top: 10px;
}
.results_counting_type a {
	font-size: 16px;
	line-height: 24px;	
}
.results_counting_quantity div:nth-child(3) {
    margin-top: -8px;
}
.results_counting_type div:nth-child(3) {
	margin-top: 0;
}
.results_counting_type div:first-child {
	top: -33px;
	right: -115px;
}
.about_wrap {
    margin-top: 39px;
}
.about {
	height: 344px;
}
.select_wrap,
.mainMap_wrap {
    margin-top: 40px;
}
.mainMap {
	margin-top: 22px;
}
.select .select_form {
	flex: 2;
}
.select_form form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.select input[type='text'] {
	width: 280px;
	margin-left: auto;
}
.select_form .button {
	width: 280px;
}
.select_form input[type="button"] {
	padding-left: 88px;
	height: 60px;
}
.select_form {
	margin-left: 0;
}
.select_checkbox_wrap {
	font-size: 16px;
	line-height: 24px;	
}
.select_checkbox_wrap {
	width: 278px;
}
.footer_text {
	font-size: 16px;
	line-height: 24px;	
}
.footer_content_block a {
	font-size: 16px;
	line-height: 24px;	
}
.footer_content_block li:first-child a {
	font-size: 18px;
	line-height: 35px;
}
.footer_content_block li:first-child {
	margin-bottom: 23px;
}
.footer_phone p {
	font-size: 18px;
	line-height: 27px;	
}
.footer_content_block .footer_mail a, 
.footer_phone p:last-child a {
	font-size: 14px;
	line-height: 26px;
}
.footer_adress p {
	font-size: 16px;
	line-height: 24px;	
}
.footer_content_block {
	margin-right: 20px;
	margin-top: 36px;
}
.footer_content_block a {
	margin-bottom: 10px;
}
.footer_adress p, 
.footer_mail p, 
.footer_phone p {
	margin-left: 16px;
}
.footer_adress, 
.footer_phone, 
.footer_mail {
	margin-bottom: 15px;
}
.fooret_wrap {
	margin-top: 70px;
}
.footer_copyright_content {
	font-size: 14px;
	line-height: 27px;	
}
.footer_content {
	padding-bottom: 22px;
}
.footer_copyright_content div:nth-child(2) {
	flex: 2;
}
.select_checkbox {
	width: 33px;
}
.header_contacts_right_social {
	text-align: center;
}


}





















@media (max-width: 1020px) {
.universal {
	flex-wrap: wrap;
	justify-content: center;
}
.universal_block {
	margin-top: 24px;
}
.media1024_img {
	display: none;
}
.media360_img {
	display: block;
	margin-left: auto;
	margin-top: 47px;
	cursor: pointer;
}
.nav ul {
	flex-direction: column;
}
.header_nav .nav,
.header_nav .header_nav_right {
	display: none;
}
.header_nav_right {
	width: 250px;
	display: block;
}
.header_nav_left {
	display: block;
}
.header_nav_search {
	text-align: right;
	display: flex;
	border-bottom: 1px solid #B0C0D0;
	border-top: 1px solid #B0C0D0;
	padding: 10px 0;
}
.header_nav_search form {
	margin-left: auto;
}
.nav {
	margin-top: 0;
	display: flex;
	justify-content: center;
}
.header_nav_phone {
	justify-content: center;
	margin-top: 24px;
}
.header_contacts_right,
.header_contacts_left,
.header_contacts_right_social ul {
	justify-content: center;
}
.header_nav_phone_call {
	text-align: center;
}
.flex_column {
	flex-direction: column;
	justify-content: center;
}
.main_catalog_block {
	width: 312px;
	margin: 0 auto;
	margin-top: 24px;
	box-sizing: border-box;
}
.flex_c {
	flex: inherit;
}
.flex_column {
	margin-top: 0;
}
.caption h1 {
	text-align: center;
}
.main_catalog_block:last-child {
	margin-right: auto;
}
.calculator {
	height: auto;
	flex-direction: column;
}
.results_counting_wrap {
	margin-top: 22px;
}
.mediaEsc_img {
	position: absolute;
	top: 26px;
	right: 35px;
	cursor: pointer;
}
.footer_content_block:first-child {
	display: none;
}
.footer_copyright_content div:first-child {
	display: none;
}
.select_form form {
	flex-direction: column;
}
.select input:nth-child(2),
.select_checkbox_wrap,
.select_form input[type="button"] {
	margin-top: 20px;
}
.select > div {
	flex: 2;
}
.calculator_block,
.calculator_img {
	flex: inherit;
}
.nav li {
	margin-right: 0;
	margin-top: 27px;
}


}















@media (max-width: 750px) {
.container {
	max-width: 360px;
	padding: 0 24px;
}
.logo {
	width: 100px;
	height: 46px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.logo img {
	width: 100%;
}
.media360_img {
	margin-top: 27px;
}
.mediaEsc_img {
	top: 10px;
	right: 27px;
}
.header_nav_search_img {
	margin-right: 0;
}
.header_nav_search {
	padding: 19px 0;
}
.header_nav_phone_number {
	font-size: 18px;
	line-height: 26px;	
}
.header_nav_phone_call {
	font-size: 14px;
}
.header_contacts_left_text {
	font-size: 14px;
	line-height: 26px;	
}
.header_contacts_right_social li {
	border-right: none;
}
.header_contacts_right_social {
	font-size: 14px;
	line-height: 26px;
	color: #7E7F74;
}
.main_slider_caption h1 {
	font-size: 24px;
	line-height: 35px;	
}
.main_slider_text {
	font-size: 16px;
	line-height: 27px;	
	height: 116px;
}
.main_slider_img3 {
    left: 26px;
    bottom: 388px;
    width: 60px;
    height: 60px;
    opacity: 0.8;
    box-shadow: 0px 0px 0px 42px #E30235;
}
.main_slider_img4 {
    right: -18px;
    bottom: -12px;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    box-shadow: 0px 0px 0px 25px #E30235;
}
.main_slider_arrow {
	display: none;
}
.slick-dots {
	top: inherit;
	display: flex;
	bottom: 2%;
	right: 38%;
}
.slick-dots button {
	margin-bottom: 0;
	margin-right: 22px;
}
.main_slider_content {
	text-align: center;
}
.main_slider_button {
	margin-left: auto;
	margin-right: auto;
}
.caption h1 {
	text-align: left;

}
.universal_block {
	margin-right: auto;
}
input.calculator_slider_content {
	width: 100px;
}
.calculator_block {
	padding: 20px;
	height: auto;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	height: 9px;
	width: 9px;
    box-shadow: 0px 0px 0px 7px #E30235;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -2px;
}
.calculator_options span, .calculator_options p {
	font-size: 18px;
	line-height: 32px;
}
.calculator_options input {
	width: 206px;
}
.calculator_options {
	flex-wrap: wrap;
	margin-top: 30px;
}
.calculator_options_wrap {
    margin-top: 30px;
}
.calculator_options span {
	margin-bottom: 16px;
	margin-top: 10px;
}

.calculator_button_wrap {
	flex-wrap: wrap;
	margin-bottom: 26px;
}

.calculator_options {
	height: auto;
	margin-bottom: -26px;
}
.calculator_parametr {
	font-size: 13px;
	width: 100%;
}
.calculator_reset {
	margin-top: 38px;
}
.calculator_button {
	margin-top: 24px;
}
.calculator_img {
	height: 474px;
}
.calculator {
	border: none;
}
.results_counting_wrap {
	width: 268px;
}
.about_circle {
	display: none;
}
.about {
	flex-direction: column;
	height: auto;
}
.about .flex_c:last-child {
	height: 225px;
}
.about_button {
	margin-top: 23px;
	margin-bottom: 30px;
}
.mainMap {
	height: 200px;
}
.select {
	flex-direction: column;
}
.select input[type='text'] {
	width: 312px;
}
.select_form .button {
	width: 312px;
}
.select_form input[type="button"] {
	padding-left: 103px;
}
.fooret_wrap {
	margin-top: 50px;
}
.footer_content {
	flex-direction: column;
}
.footer_content_block {
    margin-right: 0px;
    margin-top: 0px;
}
.footer_content_block a {
	margin-bottom: 15px;
}
.footer_content_block li:first-child {
	margin-bottom: 0;
	border-bottom: 1px solid #00000024;
	padding-bottom: 17px;
	padding-top: 17px;
}
.footer_content_block li:nth-child(n+2) {
	display: none;
}
/*.footer_content_block li:hover {
	background-color: #F0F1F4;
}*/
.footer_content_block i {
	position: absolute;
	right: 0px;
	top: 24px;
	font-size: 22px;
	color: #7E7F74;
}
i.fa-angle-down {
	display: block;
}
.footer_content_block li {
	cursor: pointer;
}
.footer_content_block:last-child {
	text-align: center;
}
.footer_content_block:last-child li {
	border-bottom: 0;
}
.footer_adress, .footer_phone, .footer_mail {
	justify-content: center;
}
.footer_content_block:last-child img {
	display: none;
}
.footer_copyright_content div:first-child {
	display: flex;
}
.footer_copyright_content {
	flex-direction: column-reverse;
	margin-top: 23px;
	padding-bottom: 24px;
}
.footer_copyright_content div {
	flex: inherit !important;
	flex-direction: column-reverse;
}
.footer_copyright .header_contacts_right_social li:first-child {
	width: 100%;
}
.header_contacts_right_social ul {
	flex-wrap: wrap;
}
.header_contacts_right_social li {
	height: auto;
}
.footer_copyright_content .development {
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}
.footer_copyright_content div:first-child {
	margin-left: auto;
	margin-right: auto;
}
.footer_copyright .header_contacts_right_social li {
	padding: 9px 26px;
}
.development_img {
	margin-top: 17px;
}
.header_contacts_right_social li:first-child {
	padding-top: 24px;
}








}










@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.article_caption {
		flex-direction: column;
	}
	.main_catalog_block {
		flex-direction: column;
	}
	.block_content_caption {
		width: auto;
	}
	.calculator_button input {
		padding-left: 2px;
	}
	.select_form input[type='button'] {
		padding-left: 2px;
	}
	.fooret_wrap .main_slider_img3 {
		box-shadow: 0px 0px 0px 94px #d9d9da;
	}
	.select_form form {
		flex-direction: inherit;
	}
	.header_contacts_right_social {
		position: absolute;
		right: 0px;
		bottom: -27px;
	}
	.footer_copyright_content {
		padding-bottom: 30px;
	}
}